.settings-difficulty {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    font-size: 22px;
}

.settings-difficulty input {
    display: none;
}

.settings-difficulty label {
    text-decoration: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: all 0.3s;
    user-select: none;
}
.settings-difficulty .active {
    font-weight: 700;
    background-color: var(--text-primary);
    color: var(--background);
    border-radius: 8px;
}