.game-header {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.game-title {
    padding-left: 50px;
}

.header-btn {
    padding-right: 50px;
    border: none;
    text-align: center;
    width: auto;
    cursor: pointer;
    background: var(--background);
    color: var(--text-primary);
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    user-select: none;
    transition: all .5s
}

.header-btn:hover {
    text-decoration: underline;
}