:root {
  --background: white;
  --text-primary: black;
}

[data-theme="dark"] {
  --background: black;
  --text-primary: white;
}

html {
  min-height: 100%;
  position: relative;
  background: var(--background);
}

body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  color: var(--text-primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
