.lamps-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
}

.lamp-hint {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.lamp-state {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.lamp-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
}


.lamp-left {
    opacity: 0;
}

.lamp-right {
    opacity: 0;
}

.lamp-left-enter {
    opacity: 1;
    /* margin-right: 200px; */
}

.lamp-left-exit {
    opacity: 0;
    margin-right: 300px;
}

.lamp-left-enter-active {
    opacity: 0;
    margin-right: -300px;
}

.lamp-left-exit-active {
    opacity: 1;
    margin-right: 0;
}

.lamp-left-enter,
.lamp-left-exit {
    position: absolute;
    transition: margin-right, opacity .1s;
}

.lamp-right-enter {
    opacity: 1;
}

.lamp-right-exit {
    opacity: 0;
    margin-left: 300px;
}

.lamp-right-enter-active {
    opacity: 0;
    margin-left: -300px;
}

.lamp-right-exit-active {
    opacity: 1;
    margin-left: 0;
}

.lamp-right-enter,
.lamp-right-exit {
    position: absolute;
    transition: margin-left, opacity .1s;
}